body{
   background-image: url("images/background.jpg");
   background-size:auto;
   background-repeat: no-repeat;
   
}
h2{
    font-family: Segoe Print;
    color:wheat
}
img{
    width: 600px;
    height: 350px;
    
}
button{
    cursor: pointer;
    position: relative;
    background-color: purple;
    color: wheat;
    padding: 10px;
    border-radius: 50%;
}
#id1{
    
    background-color: purple;
    color: wheat;
    padding: 10px;
    border-radius: 50%;
    margin-top: 50%;
}

#myDiv{
    text-align: center;
    display: none;

}
